@charset "ISO-8859-1";

#debug_area{
	padding-left: 5%;
}
#debug_area a{
	padding: 6px;
	margin-left: 0px;
	color : #FFFF00;
	background-color: #666666;
}
#debug_area div{
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 6px;
	padding-right: 6px;
	margin-left: 6%;
	color : #FFFF00;
	background-color: #666666;
	color: #FFFF00;
	width: 76%;
}